.front-page {
	&__news {
		padding: 30px 0;
		text-align: center;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		.h1 {
			margin-top: 0px;
			margin-bottom: 45px;
			color: #5a497f;
		}
		@media screen and (min-width: 640px){
			width: 960px;
			max-width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__news-list {
		@include cf();
		article{
			width: 100%;
			float: left;
			padding: 0;
			margin-bottom: 2em;
			@media screen and (min-width: 640px){
				width: calc(100% / 3);
			}
			.read-more{
				color: $brand-b;
				font-weight: bold;
				font-size: 0.8em;
			}
			h4 {
				margin: 0 0 10px;
				a{
					color: #0b9b75;
					font-size: 1em;
					margin-bottom: 10px;
				}
			}
			@media screen and (min-width: 640px) and (max-width: 690px){
				p, .read-more{
					padding-left: 0px;
					padding-right: 0px;
				}
			}
			.news-spacing{
				padding: 15px;
				.front-page__news-item__meta{
					display: block;
				}
				p{
					display: inline;
				}
				a{
					display: inline;
				}
			}
		}
	}
	&__news-item {
		background: none;
		box-sizing: border-box;
		width: 33%;
		float: left;
		text-align: left;
		.entry-title {
			line-height: 1.4em;
		}
		.posted-on a{
			color: #0b9c75;
			font-weight: bold;
		}
		&:nth-child(1n) { padding-right: 0 }
		&:nth-child(2n) { padding: 0 }
		&:nth-child(3n) { padding-left: 0 }
		@media screen and (min-width: 640px){
			&:nth-child(3n+1) {padding-right: 20px; }
			&:nth-child(3n+2) {padding: 0 10px; }
			&:nth-child(3n+3) {padding-left: 20px; }
		}
		&__news-image{
			height: 250px;
			position: relative;
			.entry-title{
				position: absolute;
				bottom: 15px;
				margin: 0;
				left: 15px;
				width: calc(100% - 30px);
				a{
					color: #fff;
					font-size: 1.5em;
				}
			}
		}
		.post-categories{
			padding-left: 0;
			margin-bottom: 5px;
			a{
				color: $brand-b;
				font-weight: bold;
			}
		}
	}
	&__news-item__meta {
		@include cf();
		.posted-on { float: left; }
		.read-more { float: right; }
	}
	&__archive-list{
		list-style-type: none;
		a{
			color: #0b9c75;
		}
	}
	&__archives,
	&__categories,
	&__comments{
		width: 100%;
		float: left;
		padding-bottom: 1 em;
		h1{
			margin-bottom: 0.7em;
			font-size: 1.7em;
		}
		a{
			color: $brand-b;
		}
		@media screen and (min-width: 640px){
			width: calc(100% / 3);
			float: left;
			padding-top: 2em;
			padding-bottom: 2em;
			h1{
				margin-bottom: 1.5em;
				font-size: 1.7em;
			}
		}
	}
	&__archives span.green-highlight,
	&__categories span.green-highlight{
		margin-bottom: 0.5em;
		display: inline-block;
	}
	&__comments p{
		margin: 0;
	}
	&__comments ul{
		list-style: none;
		list-style: none;
		padding-left: 0;
	}
	&__comments-list{
	}
}

.container-cat-titles .entry-header {
	margin-bottom: 0.5em;
}
.container-cat-titles{
	&.front-page__news{
		> h1{
			background: none !important;
		}
	}
}

.container-post-excerpt {
	float: left;
	width: 100%;

	@include mq($from: xl) {
		margin-left: 60px;
		width: calc(100% / 3 * 2);
		&:nth-child(1n) { padding-right: 10px; }
		&:nth-child(2n) { padding-left: 10px; }
	}
}

.container-post-excerpt > h3 {
	padding-top: 0.5em;
	color: $brand-h;
}

.container-cat-titles > h3 {
	margin-bottom: -0.5em;
	color: $brand-h;
}

.cat-excerpt-entry-header {
	margin-left: -1em;
	padding-bottom: 0.25em;
}

.news-latest-entry-header {
	margin-left: -1em;
}

.main-image-block {
	width: 100%;
	float: left;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 50vh;
	position: relative;

	@include mq($from: l) {
		height: 40vh;
	}

	&:before{
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.4);
		top: 0;
		left: 0;
	}
	@include mq($until: l) {
		&:after {
			position: absolute;
			content: '';
			height: 2px;
			width: 100%;
			background: #fff;
			bottom: 0;
			left: 0;
		}
		&:last-of-type:after {
			display: none;
		}
	}
	@include mq($from: l) {
		width: calc(100% / 2);
		&:after {
			position: absolute;
			content: '';
			height: 100%;
			width: 2px;
			background: #fff;
			right: 0;
			top: 0;
		}
		&:last-of-type:after {
			display: none;
		}
	}

	&__heading a {
		color: white;
	}

	article{
		background: transparent;
		h3{
			font-size: 1.4em;
		}
		h4{
			font-size: 1.6em;
			margin: 0 0 0.3em;
			a{
				color: #fff;
				line-height: 1.05;
			}
		}
	}
	> div{
		padding: 15px 24px;
		position: relative;
		height: 100%;
		z-index: 1;
		> .text-wrap-div{
			position: absolute;
			top: calc( 50% - 1em );
			h3{
				margin-top: 0;
			}
		}
		div >{
			> p{
				position: absolute;
				bottom: 0px;
				> a.read-more{
					padding-top: 0.5em;
					color: $brand-j;
					font-size: 0.9em;
					float: left;
				}
			}
			h3{
				margin-bottom: 5px;
				position: relative;
				> a{
					color: $brand-j;
					font-size: 0.9em;
				}
			}
		}
	}
}

.recent-activity{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
	width: 960px !important;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #edeeee;
	@media screen and (min-width: 640px){
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
.front-page__news .container-cat-titles{
		background: none !important;
	}
@media screen and (max-width: 639px){

	.accordion__item {
	}
  .accordion__inner {
		display: none;
		&.is-active { display: block; }
	}

	.recent-activity{
		padding: 0;
		background-color: #ea8503;
	}
	.container-cat-titles{
		border-bottom: 2px solid #fff;
	}
	.container-cat-titles h1{
		background-image: url('images/cross.png');
		background-repeat: no-repeat;
		background-position: center right 0px;
		background-size: contain;
		margin-top: 0.7em;
		margin-bottom: 0.7em;
		&.inactive { 
			display: none;
		}
	}
	.recent-activity div{
		padding: 0 15px 5px 15px;
	}
	.recent-activity h1{
		color: white;
		cursor: pointer;
	}
	.container-cat-titles li a,
	.container-cat-titles li a span{
		color: white;
	}
	.container-cat-titles li p{
		margin-bottom: 15px;
		margin-top: 5px;
		color: #555;
	}
	.container-cat-titles a span{
		color: white;

	}
}
@media screen and (min-width: 640px) and (max-width: 960px){
	.front-page__news{
		padding-left: 15px;
		padding-right: 15px;
	}

	.front-page__news-list  article.front-page__news-item{
		position: relative;
		ul.post-categories{
			position: relative;
			margin-bottom: 0;
			padding-bottom: 10px;
			&:after{
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				height: 2px;
				width: 100%;
				background-color: $brand-b;
			}
			li{
				a{
					font-weight: bold;
				}
			}
		}
		.news-spacing{
			p, > a{
				display: none;
			}
			p.front-page__news-item__meta{
				display: block;
			}
		}
	}
	.front-page__news-item:nth-child(3n+1) {
		width: 100%;
		padding: 0;
	}
	.front-page__news-item:nth-child(3n+2) {
		width: 100%;
		padding: 0;
	}
	.front-page__news-item:nth-child(3n+3) {
		width: 100%;
		padding: 0;
	}
	.front-page__news-item .front-page__news-item__snippet{
		display: none;
	}
	.front-page__news-item__news-image:before{
		display: none;
	}
	.front-page__news-item h4{
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 0;
	}
	.front-page__news-item h4:after{
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: #0b9b75;
	}
	.front-page__news-item__news-image {
		position: static;
		width: 20%;
		height: 150px;
	}
	.front-page__news-item__news-image h3.entry-title{
		position: absolute;
		left: 20%;
		width: 80%;
		padding-right: 15px;
		padding-left: 15px;
		top: 0%;
	}
	.front-page__news-item__news-image h3.entry-title a{
		color: #5a497f;
	}
	.front-page__news-item .front-page__news-item__meta{
		position: absolute;
		left: 20%;
		width: 80%;
		padding-right: 15px;
		padding-left: 15px;
		top: 30%;
	}

}
