.site-header {
    background-color: $brand-a;
    text-align: center !important;
    padding-top: 0.5em;

    &__branding {
        display: inline-block;
        vertical-align: top;
        font-size: 1.2rem;
        font-weight: lighter !important;
        color: white;
        margin: 10px 1rem;

        &:hover { color: white; }
    }

    &__nav-button {
        font-size: 1.2em;
        top: 0;
        right: 0;
        border-radius: 0;
        position: absolute;
        margin: 0;
        & .btn__text {
            padding-top: 22px;
            padding-bottom: 22px;
        }
    }
}

.branding {
    &__logo {
        width: 38px;
        height: 40px;
        margin-right: 10px;
    }

    &__text {
        display: inline-block;
        vertical-align: top;
        line-height: 2.4rem;
    }
}