.site-header {
    background-color: $brand-a;
    text-align: center !important;
    padding-top: 0.5em;

    &__branding {
        display: inline-block;
        vertical-align: top;
        font-size: 1.2rem;
        font-weight: lighter !important;
        color: white;
        margin: 10px 1rem;

        &:hover { color: white; }
    }

    &__nav-button {
        font-size: 1.2em;
        top: 0;
        right: 0;
        border-radius: 0;
        position: absolute;
        margin: 0;
        & .btn__text {
            padding-top: 22px;
            padding-bottom: 22px;
        }
    }
}

.branding {
    &__logo {
        width: 38px;
        height: 40px;
        margin-right: 10px;
    }

    &__text {
        display: inline-block;
        vertical-align: top;
        line-height: 2.4rem;
    }
}

.main-navigation {
    background-color: $brand-j;
    padding-top: 0.4em;
}

#site-navigation {
    text-align: center !important;
}


.main-navigation a {
    padding: 0.1em 1em 0.5em;
    color: $brand-k;
}

@media screen and (max-width: 690px){
    .site-header {
        > a {
            padding: 0;
            float: left;
        }
        font-size: 1em;
    }
    .main-navigation ul li{
        display: block;
        width: 100%;
        a{
            display: block;
            width: 100%;
        }
    }
}
@media screen and (min-width: 690px){
    .nav-button{
        display: none;
    }
}