.nav-links {
    font-size: 0.8em;
}

.nav-next > a,
.nav-previous > a {
    color: $brand-b;
}

.nav-previous > a {
  &:before {
    content: ' < ';
  }
}

.nav-next > a {
  &:after {
    content: ' > ';
  }
}

.page-title {
    color: white;
}
