@font-face {
    font-family: 'museo_sans_rounded500';
    src: url('fonts/MuseoSansRounded-500-webfont.eot');
    src: url('fonts/MuseoSansRounded-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansRounded-500-webfont.woff2') format('woff2'),
         url('fonts/MuseoSansRounded-500-webfont.woff') format('woff'),
         url('fonts/MuseoSansRounded-500-webfont.ttf') format('truetype'),
         url('fonts/MuseoSansRounded-500-webfont.svg#museo_sans_rounded500') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    font-family: 'museo_sans_rounded500', sans-serif;
}

.entry-title {
    font-weight: 500;
}

.entry-title > a {
    color: $brand-f;
}

h2,
h3,
p,
ul {
    line-height: 1.4;
}

.small { 
  font-size: 0.9em;
}